<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lmsourassf.librarymanagementsystem.mapper.UserMapper">
    <select id="queryUserList" resultMap="UserMap">
        select * from user
    </select>

    <resultMap id="UserMap" type="User">
        <!--
        一般通过id标签来映射主键
        column = 数据库的列名
        property = 结果集对应的数据库列名的映射名
        -->
        <id column="User_id" property="id"/>
        <result column="User_name" property="name"/>
        <result column="User_phone" property="phone"/>
        <result column="User_email" property="email"/>

    </resultMap>


    <select id="queryUserById" resultMap="UserMap">
        select * from user where user_id = #{id}
    </select>

    <insert id="addUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into user(user_name,user_phone,user_email) values(#{name},#{phone},#{email})
    </insert>

    <update id="updateUser" parameterType="User">
        update user set user_name=#{name},user_phone=#{phone},user_email=#{email} where user_id = #{id}
    </update>

    <delete id="deleteUser" parameterType="int">
        delete from user where user_id = #{id}
    </delete>

    <select id="countUser" resultType="int">
        select count(*) from user
    </select>
</mapper>